<div class="container">
  <div class="row">
    <div *ngFor="let priority of prioritiesByTimeframe; let i = index" class="col-4 priorities-by-timeframe">
      <div class="card p-0 my-2">
        <div class="card-header" id="priority-{{i}}"></div>
        <div class="card-body">
          <div class="card-title row justify-content-between">
            <div class="col-9">
              {{priority.title}}
            </div>
            <div class="col-2">
              <img src="../../../assets/icon-ellipsis.svg" id="filter">
            </div>
          </div>
          <div *ngIf="timeframe.daily" class="card-body-details">
            <div class="card-text">{{priority.timeframes.daily.current}}hrs</div>
            <p class="previous">Previous day - {{priority.timeframes.daily.previous}}hrs</p>
          </div>
          <div *ngIf="timeframe.weekly" class="card-body-details">
            <div class="card-text">{{priority.timeframes.weekly.current}}hrs</div>
            <p class="previous">Previous day - {{priority.timeframes.weekly.previous}}hrs</p>
          </div>
          <div *ngIf="timeframe.monthly" class="card-body-details">
            <div class="card-text">{{priority.timeframes.monthly.current}}hrs</div>
            <p class="previous">Previous day - {{priority.timeframes.monthly.previous}}hrs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
