<div class="container">
  <div class="row user-profile m-2">
    <div class="user-details flex-column">
      <div class="mt-3 ms-3">
        <img src="../../../assets/image-jeremy.png" />
      </div>
      <div class="mt-5 mb-5 ms-3 report-for">
        Report for
        <p class="name">
          Jeremy<br>Robson
        </p>
      </div>
    </div>
    <div class="ms-3 my-2 navigation">
      <div class="my-3"><a class="{{ isDailyActive ? 'active' : ''}}" (click)="onDailyClick()">Daily</a></div>
      <div class="my-3"><a class="{{ isWeeklyActive ? 'active' : ''}}" (click)="onWeeklyClick()">Weekly</a></div>
      <div class="my-3"><a class="{{ isMonthlyActive ? 'active' : ''}}" (click)="onMonthlyClick()">Monthly</a></div>
    </div>
  </div>
</div>
